{% extends 'base.html' %}

{% block content %}
  <h1>edit!</h1>
  <hr>
  <form action="{% url 'movies:update' movie.pk %}" method='POST'>
  {% csrf_token %}
  <label for="title">title: </label>
  <input type="text" name="title" value="{{ movie.title }}">
  <br>
  <label for="overview">overview: </label>
  <textarea name="overview" id="overview" cols="30" rows="10">{{ movie.overview }}</textarea>
  <br>
  <label for="poster_path">poster path: </label>
  <input type="text" name="poster_path" value="{{ movie.poster_path }}">
  <br>
  <input type="submit" value="제출">

</form>
{% endblock %}