{% extends 'base.html' %}
{% load bootstrap5 %}
{% load humanize %}

{% block content %}

  <h2>Index Page</h2>
  {% if request.user.is_authenticated %}
    <h2>welcome {{ request.user }}!</h2>
  {% endif %}
  <hr>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
  {% for article in page_obj %}
  
      <div class="col">  
        <div class="card h-100 w-100">
          <img src="{{ article.picture.url }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ article.champion_name }}</h5>
            <p class="card-text">{{ article.description|slice:"75" }}...</p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <a class="text-decoration-none fs-5" href="{% url 'articles:detail' article.pk %}">Detail</a>
            <p class="mb-0">{{ article.updated_at|naturaltime }}</p>
          </div>
        </div>
      </div>
  {% endfor %}  
  </div>

  <div class="d-flex justify-content-center mt-4">
    {% bootstrap_pagination page_obj %}
  </div> 
{% endblock content %}